In [2]:
import os
import re

import datetime
import csv
import pandas as pd
import numpy as np

import bokeh
from bokeh.models import DatetimeTickFormatter
from bokeh.plotting import figure, show, output_file

In [3]:
#cur_folder = os.getcwd()
#path_images = os.path.dirname(cur_folder)
#path_images

In [4]:
df = pd.read_csv("gapminder_fertility.csv")
df_no_missing = df.dropna()

In [5]:
df1 = df_no_missing[:10]
df1 = df1.set_index('Country')

In [6]:
df1_T = df1.transpose()

In [7]:
def save_file(filename, p):
    file = path_images+'\\'+filename
    bokeh.io.output_file(file)
    bokeh.io.save(p)
    show(p)
       
def axis_form(p, x, y):
    p.xaxis.formatter=DatetimeTickFormatter(
        hours=["%d %B %Y"],
        days=["%d %B %Y"],
        months=["%d %B %Y"],
        years=["%d %B %Y"],
    )
    p.xaxis.axis_label = x
    p.yaxis.axis_label = y
    return p

In [8]:
# paleta de cores obtida em: http://tools.medialab.sciences-po.fr/iwanthue/
palette = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728',
          '#9467bd', '#8c564b', '#e377c2', '#7f7f7f',
          '#bcbd22', '#17becf']

In [9]:
df1_T['Date'] = df1_T.index
df1_T['Date'] = pd.to_datetime(df1_T['Date'], format='%Y')
df1_T = df1_T.set_index('Date')

In [10]:
df1_T.head()

Country,Afghanistan,Albania,Algeria,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria
Date,,,,,,,,,,
1964-01-01,7.671,5.711,7.653,7.425,4.250,3.068,4.161,4.059,3.154,2.795
1965-01-01,7.671,5.594,7.655,7.430,4.193,3.058,3.979,3.842,2.973,2.703
1966-01-01,7.671,5.483,7.657,7.422,4.125,3.051,3.788,3.625,2.885,2.663
1967-01-01,7.671,5.376,7.658,7.403,4.042,3.048,3.606,3.417,2.847,2.621
1968-01-01,7.671,5.268,7.657,7.375,3.942,3.049,3.447,3.226,2.886,2.586

In [11]:
numlines=len(df1_T.columns)
colors_list = palette[:numlines]

names = list(df1.index)
legends_list = names

xs=[df1_T.index.values]*numlines
ys=[df1_T[name].values for name in names]

p = figure(plot_width=900, plot_height=500, title="Fertility rate by selected countries")
    
for (colr, leg, x, y ) in zip(colors_list, legends_list, xs, ys):
    my_plot = p.line(x, y, color= colr, legend= leg)

p.legend.location = "top_right"
p.legend.click_policy="hide"

p = axis_form(p, "Time", "Fertility")
filename = 'marcelo ribeiro image.html'
save_file(filename, p)

NameError: name 'path_images' is not defined